<!DOCTYPE html>
<html>
<head>
  <meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
  <meta charSet='utf-8'/>
  <meta httpEquiv="Content-Language" content="en"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A Competitive eSports platform"/>
  <link id="favicon" rel="shortcut icon" href="/images/aos-logo.png" type="image/png"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/react-tabs.css">
  <title>Aeon of Strife</title>
</head>
<body>
<div id="root"></div>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
<script>
  let config = {
    apiKey: "AIzaSyCG3UHB04cRETXWBCXT70hJ4t7iaZ5H9fg",
    authDomain: "aeonofstrife-1.firebaseapp.com",
    databaseURL: "https://aeonofstrife-1.firebaseio.com",
    projectId: "aeonofstrife-1",
    storageBucket: "aeonofstrife-1.appspot.com",
    messagingSenderId: "603290881912"
  };
  firebase.initializeApp(config);
  const firestore = firebase.firestore();
</script>
</body>
</html>
